
body{
    background-color:white;
    overflow-x: hidden;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
    display:none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    color: white;
    background-color: #2C3E50;
    border-left: 50px solid #C0392B;
/*    border-right: 50px solid #C0392B;
*/    transition: all 1.5s;
    padding: 5px;
    text-align: center;
}
.navbar-default .navbar-nav>li>a{
    color: black;
    font-weight: bold;
}

.navbar-default{
    
    border: none;
}

.navbar-nav>li>a{
    padding-bottom: 5px;
}

.navbar-default .navbar-nav>li> a:hover{
    transition: .1s ease-in;
    border-bottom: 5px solid navy;
}
/* 
footer{
  position: absolute;
  width: 100%;
  bottom: 0 px;
  color: white;
  background-color: #2C3E50;
  border-left: 50px solid #C0392B;
  transition: all 1.5s;
  padding: 5px;
  text-align: center;
  margin-top: 100px;
}

footer{
    background-color: #2C3E50 ;
    position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  
}

footer p{
    text-align: center;
} */

form{
  position: relative;
  margin-top:20px;
}

input{
  width: 50%;
  padding: 10px;
  font-size: 14pt;

}

input:focus {
/*    background-color: #2C3E50;
*/    color: black;
}

label{
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
    margin-top: 15px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.amazingButton{
  font-size: 14pt;
}

.amazingButton {
  display: inline-block;
  border-radius: 4px;
/*  background-color: #2C3E50;
*/  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  width: 13%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 45%;
  margin-right: 45%;
}

.amazingButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.amazingButton span:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.amazingButton:hover span {
  padding-right: 25px;
}

.amazingButton:hover span:after {
  opacity: 1;
  right: 0;
}

#matchContainer p{
  margin-top: 15px;
  font-size: 18px;
}
#search{
  color: white;
  background-color: #2C3E50;
  margin-top: 20px;
}
#fileUpload{
  display: inline-block;
  font-size: 12pt;
  width: 30%;
  margin-right: -5%;
}

.popup{
    position: fixed;
    width: 50%;
    height: 40%;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    left: 25%;
    top: 30%;
    text-align: center;
    padding: 20px;
    background-color: #2C3E50; 
}

.loader {
 font-size: 10px;
 margin: 50px auto;
 text-indent: -9999em;
 width: 11em;
 height: 11em;
 border-radius: 50%;
 background: #ffffff;
 background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
 background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
 background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
 background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
 background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
 position: relative;
 -webkit-animation: load3 1.4s infinite linear;
 animation: load3 1.4s infinite linear;
 -webkit-transform: translateZ(0);
 -ms-transform: translateZ(0);
 transform: translateZ(0);
}
.loader:before {
 width: 50%;
 height: 50%;
 background: #ffffff;
 border-radius: 100% 0 0 0;
 position: absolute;
 top: 0;
 left: 0;
 content: '';
}
.loader:after {
 background-color: #2C3E50;
 width: 75%;
 height: 75%;
 border-radius: 50%;
 content: '';
 margin: auto;
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
}
@-webkit-keyframes load3 {
 0% {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 100% {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}
@keyframes load3 {
 0% {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 100% {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

@keyframes engine {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(369deg);
    }
  }

  .modal-content{
      padding: 80px ;
  }

 #bigButn{
    border-radius: 70%;
    padding: 10px;
    box-shadow: 5px 10px 25px 5px rgba(0,0,0,0.3);
    background-color: limegreen;
    margin-top:1%; 
    margin-right: 65%;
    width: 12vw;
    height: 12vw;
   
    
   
    background-color: #2C3E50;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 03%;
    border: 25px;
    margin-bottom: 5%;
    width: 25%;
    height: 15vw;
    font-size: 20pt;
    color: white;
    
}

#ButnCont #btnText{
    text-align: center !important;
    font-size: 2em;
}
#exampleModalLabel{
    text-align: center;
}

#tutHead{
    text-align: center;
}
.modal-body{
    text-align: center;
}

#ButnCont{
    
    margin: 0 auto;
    
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

article h1{
    text-align: center;
}

article p{
    text-align: center;
}
article img{
    height: 20vw;
    width: 20vw;
    background-color:navy;
        padding:1px;
        border:2px solid navy;
     
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#firstCont{
    text-align: center;
    background-color: whitesmoke;
}



/*.rounded img{
    border-radius: 50%;
    height: 20vw;
    width: 18vw;
    margin-top: 5%;
}*/

#tutorImg{
  border-radius: 50%;
    height: 20vw;
    width: 18vw;
    margin-left: 45%;
    margin-top: 5%;
}

#finalImg{
  border-radius: 50%;
    height: 20vw;
    width: 18vw;
    margin-top: 5%;
}



a {
    color: #f1c40f;
}

a:hover,
a:active,
a:focus {
    color: #dab10d;
}
.greyBack{
  position: fixed;
  width: 200%;
  height: 200%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  color: white;
}

.rating-stars {
    width: 100%;
    text-align: center;
}

.rating-stars .rating-stars-container {
    font-size: 0px;
}

.rating-stars .rating-stars-container .rating-star {
    display: inline-block;
    font-size: 32px;
    color: #555555;
    cursor: pointer;
    padding: 5px 10px;
}

.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--hover {
    color: #f1c40f;
}

.rating-stars .rating-stars-container .rating-star.is--no-hover {
    color: #555555;
}
#contentWrapper{
    margin-top: 5%;
}
#desc{
    width: 70%;
}

#btnSkype{
  background: url('media/btnSkype.png') no-repeat;
  cursor:pointer;
  border: none;
}

.glyphicon{
  margin-right: 5px;
}

#headCont{
    background-color: #EEEEEE;
}
#divProfile{
  margin-top: 80px;
  margin-right: 0px;
}

